*,
*::after,
*::before {
  box-sizing: border-box;
}

.btn {
  background: rgb(182, 211, 211);
  cursor: pointer;
  outline: none;
  font-size: 1rem;
}

.btn:hover {
  background: rgb(146, 177, 179);
}
